<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        // Données fournies
        var data = google.visualization.arrayToDataTable([
          ['Date', 'Température du Jour (°C)'],
          [1707739200, 281.41],
          [1707825600, 282.86],
          [1707912000, 286.38],
          [1707998400, 288.47],
          [1708084800, 285.65],
          [1708171200, 287.23],
          [1708257600, 286.47],
          [1708344000, 285.83],
          [1708430400, 282.39],
          [1708516800, 282.89],
          [1708603200, 284.82],
          [1708689600, 283.2],
          [1708776000, 285.15],
          [1708862400, 281.22],
          [1708948800, 280.13],
          [1709035200, 279.63]
        ]);

        var options = {
          title: 'Températures du jour à Paris',
          legend: { position: 'none' },
          hAxis: { title: 'Date' },
          vAxis: { title: 'Température (°C)' },
          colors: ['yellow'] // Ajout de la couleur jaune
        };

        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    <div id="chart_div" style="width: 900px; height: 500px;"></div>
  </body>
</html>
