<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Date', 'Temperature (°C)'],
          [new Date(1707739200 * 1000), 8.26],
          [new Date(1707825600 * 1000), 9.71],
          [new Date(1707912000 * 1000), 13.23],
          [new Date(1707998400 * 1000), 15.32],
          [new Date(1708084800 * 1000), 12.5],
          [new Date(1708171200 * 1000), 14.08],
          [new Date(1708257600 * 1000), 13.32],
          [new Date(1708344000 * 1000), 12.68],
          [new Date(1708430400 * 1000), 9.24],
          [new Date(1708516800 * 1000), 10.74],
          [new Date(1708603200 * 1000), 11.67],
          [new Date(1708689600 * 1000), 10.05],
          [new Date(1708776000 * 1000), 12.0],
          [new Date(1708862400 * 1000), 8.07],
          [new Date(1708948800 * 1000), 5.98],
          [new Date(1709035200 * 1000), 6.48]
        ]);

        var options = {
          title: 'Temperatures à Paris pour les 16 prochains jours',
          legend: { position: 'none' },
        };

        var chart = new google.visualization.Histogram(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    <div id="chart_div" style="width: 900px; height: 500px;"></div>
  </body>
</html>
